@import "globals";
@import "attribution";
@import "variables";
@import "card";
@import "toast";

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
  padding: 30px 4vw; //30px 15px
  background-color: $green200;
}
fieldset {
  border: none;
  padding: 0;
}
label,
legend {
  position: relative;
  color: hsl(187, 24%, 22%);
  user-select: none;
}
label:after {
  content: url(/assets/images/star.svg);
  position: absolute;
  top: -5px;
  right: -15px;
}
input,
textarea {
  display: block;
  position: relative;
}
input[type="text"],
input[type="email"],
textarea {
  border-radius: 8px;
  border: 1px solid hsl(187, 24%, 22%, 60%);
  height: 52px;
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  font-size: 18px;
  color: hsl(187, 24%, 22%);
  &:focus {
    border: 1px solid hsl(169, 82%, 27%);
  }
}
.errorMessage {
  display: none;
  margin-top: 10px;
  color: $red;
}

@import "mediaQs";
